/**/

.banner-pp{
  background-color: rgb(164, 255, 225);
  border: 1px solid #dddddd;
  color: #151515;
  border-radius: 5px;
}

.login-form, .register-form {
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid #d3ced2;
  margin: 30px 0;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  border-radius: 5px;
}

.login-submit label {
  margin-left: 10px;
}

.form-fild p span.required {
  color: #f23838;
}

.form-fild input {
  width: 100%;
  padding: 0 15px;
  height: 45px;
  border: 1px solid #dddddd;
  color: #151515;
  border-radius: 5px;
}

.bg-navbar{
  background-color: aquamarine;

}

.expandable-card {
  pointer-events: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.section, .main-wrapper {
    float: left;
    width: 100%;
    background-color: #ffffff;
  }

.carousel-caption {
    background-color: aliceblue;
    opacity:0.5;
}

.carousel-item {
    transition: transform 1s ease, opacity .3s ease;
  }


  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  
    .row-five-column > [class*=col-xl-] {
      max-width: 20%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
    }
  }
  @media only screen and (max-width: 575px) {
    .container {
      max-width: 555px;
    }
  }
  @media only screen and (max-width: 479px) {
    .container {
      max-width: 300px;
    }
  }

.sidebar {
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #161616;
    color: #fff;
    transform: translateX(-100%) scale(0);
    left: 0;
    transition: transform .2s ease-in-out
}

.sidebar.show {
    transform: translateX(0%) scale(1)
}

#side-nav {
    float: left;
    width: 18%
}

#content {
    float: right;
    width: 82%
}

a {
    text-decoration: none;
    color: #222
}

#content .user-select-none {
    user-select: none
}

.location input[type="text"] {
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #444
}

.location input[type="text"]::placeholder {
    color: #444
}

.location input[type="text"]:focus,
input[type="submit"]:focus {
    box-shadow: none
}

input[type="submit"] {
    border-radius: 0;
    width: 120px
}

.box {
    padding: 10px
}

.btn:focus {
    box-shadow: none
}



label {
    cursor: pointer
}

.tick {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0
}

.tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.check {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px
}

.tick:hover input~.check {
    background-color: #f3f3f3
}

.tick input:checked~.check {
    background-color: #ffffff
}

.check:after {
    content: "";
    position: absolute;
    display: none
}

.tick input:checked~.check:after {
    display: block;
    transform: rotate(45deg) scale(1)
}

.tick .check:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) scale(2)
}

.beach .beach-img {
    width: 200px;
    object-fit: contain
}

.beach .name {
    font-size: 1.2rem;
    font-weight: 700
}

.beach .name .city {
    font-weight: normal;
    font-size: 0.85rem
}

#filter {
    width: 200px
}

.beach .fas,
.beach .far {
    font-size: .8rem
}

.beach .fas.fa-star {
    color: #ffa500
}

.beach .tags {
    font-size: 0.8rem
}

.beach .btn {
    width: 150px;
    border-radius: 0
}

.beach .btn.enquiry {
    background-color: #ff761b;
    color: #fff
}

.beach .btn.enquiry:hover {
    background-color: #fc771fef
}

#beachs {
    width: 100%
}

@media(min-width: 1399.6px) {
    #navbar-toggler-icon {
        display: none
    }
}

@media(max-width: 1399.5px) {
    #navbar-toggler-icon {
        display: block;
        z-index: 11
    }

    #side-nav {
        float: none;
        width: 250px;
        background-color: #161616f5;
        z-index: 10
    }

    #content {
        float: none;
        width: 100%
    }
}

@media(max-width: 1199.5px) {
    .beach .beach-img {
        width: 170px
    }

    #side-nav {
        height: initial
    }
}

@media(max-width: 767.5px) {
    .beach .city {
        display: block
    }

    .beach .btn {
        width: 120px;
        font-size: 0.85rem
    }

    input[type="submit"] {
        width: 100px;
        font-size: 0.9rem;
        margin-right: 10px
    }
}

@media(max-width: 575.5px) {

    #filter,
    #beachs {
        width: 95%;
        margin: 15px
    }
}

@media(max-width: 410px) {

    #filter,
    #beachs {
        width: 93%;
        margin: 10px
    }
}